body {
    font-family: Arial, sans-serif;
  }
  h1{
    font-style: italic;
    text-align: center;
  }
  .container {
    max-width: auto;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px 1px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:last-child {
    margin-right: 0;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }